.flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.column1 {
  background-color: lightpink;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center ;
}
.item1 {
  width: 100px;
}
/* Second div */
.second-div {
  background-color: lightblue;
  width: 200px;
  flex-direction: row;
  padding-top: 5px;
}
.row1{
  display: flex;
}
.row2 {
  display: flex;
  justify-content: space-between;
}
.rows2 {
  background-color: black;
  color: white;
}

