.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Left section */
.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;

}
.youtube-logo {
  height: 20px;
}


/* Middle Section */
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0, 0.5);
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;

}
.search-button {
  height: 40px;
  width: 60px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
}

.right-section {
  background-color: lightblue;
  width: 200px;
}

